
.section__features {
    display: flex;
  }
  .section__features__list:not(:last-child) {
    margin-right: 30px;
  }
  .section__features__list {
    flex-basis: calc((100% - 90px) / 4);
  }
  
.section__features__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }
  .section__features__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background: var(--portfolio-color-button);
  }
 