  .clients__team__item {
    flex-basis: calc((100% - 150px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
 
  .clients__team__link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
  }
  .clients__team__link_icon{
    fill: var(--clients-icon-bg);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .clients__team__link:hover &,
        .clients__team__link:focus &{
        fill: var(--accent-color);
        border-radius: 4px;
        }
  }
 
  