 .logo__footer {
    color: var(--accent-color);
    margin-right: 0px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-bgr);
  }
  .address__list {
    font-style: normal;
    text-decoration: none;
    color: var(--text-color);
  }
  .address {
    margin-top: 20px;
  }
  .address__list__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .address__link__maps{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  .footer {
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logo__footer__color {
    font-style: normal;
    text-decoration: none;
    color: var(--primary-bg-color);
  }
  .address__link__contakts {
    color: var(--rgba-footer);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
    color: var(--accent-color);
  }
  }
  .user_icon_footer {
    display: flex;
  }
  .title_footer_link {
    margin-bottom: 20px;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
  }
  .footer_icon {
    margin-left: 70px;
  }
  .footer_svg {
    fill: var(--fill-footer);
  }
  .user_icon_svg{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .footer_svg:hover &,
        .footer_svg:focus &{
    fill: var(--accent-color);
  }
  }
  .footer__email__form{
    margin-left: auto;
  } 
  .footer__title__link_form {
    display: block;
    margin-bottom: 20px;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
  }
  .footer__button_icon{
    margin-left: 10px;
    width: 24px;
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }